# Dependencies
node_modules/

# Build outputs (ignore in source branch only – leading / is important)
# Your deploy script will copy built files to a separate worktree without these ignores.
#/dist
#/build
/dist
/build
/dist-ssr

# Environment
.env*
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

